* {
    box-sizing: border-box;
}

.butt1 input {
    display: none;
}

body {
    display: flex;
    flex-direction: row;
}

.fm {
    width: 800px;
    height: 600PX;
}

.container {
    padding: 10px;
    width: 800px;
    height: 70px;
    background-color: #228B22;
    border-bottom: 2px solid rgb(38, 51, 13);
    position: relative;
}

.butt1 {
    content: url(1.png);
    width: 14px;
    height: 18px;
    border: 0px;
    position: absolute;
    top: 10px;
    left: 770px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #228B22;
}

.butt1:checked {
    content: url(1.png);
    width: 16px;
    height: 16px;
    border: 0px;
    position: absolute;
    top: 10px;
    left: 770px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(81, 134, 81, 0.616);
}

img {
    vertical-align: middle;
}

.men {
    width: 800px;
    height: 530px;
    overflow: auto;
    background-color: #056905;
}

.line {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 530px;
    border-right: 2px solid rgb(38, 51, 13);
    position: absolute;
    left: 150px;
    z-index: 1;
}

.txt {
    color: rgb(46, 58, 25);
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
}

.txt1 {
    text-align: left;
    margin-left: 15px;
    font-size: 17px;
    color: rgba(75, 95, 41, 0.87)
}

.block {
    width: 150px;
    height: auto;
    align-items: center;
    display: flex;
}

.content {
    padding: 10px;
    vertical-align: middle;
    display: flex;
}

.cc {
    width: 60px;
    height: 60px;
    background-color: #228B22;
    border: 2px solid rgb(28, 37, 10);
    border-radius: 50%;
    line-height: 56px;
    padding: 0px;
    font-weight: bold;
    color: rgb(25, 39, 25);
    text-align: center;
    margin-right: 5px;
}

.date {
    vertical-align: middle;
    color: rgb(25, 39, 25);
    text-align: left;
    font-weight: bold;
    display: flex;
}

.at {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: rgb(25, 39, 25);
    padding: 5px 5px;
}

.comment {
    border: 2px solid rgb(38, 51, 13);
    width: 600px;
    min-height: 80px;
    background-color: Green;
    padding: 5px 5px;
}